* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  background: #FFFFFF url("./images/home.png") no-repeat right top fixed;
  background-size: 100% 100%;
}